@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif&family=Poppins:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif&family=Pacifico&family=Poppins:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif&family=Pacifico&family=Poppins:ital,wght@0,300;1,300;1,400&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav img{
  margin: 10px;
  height: 70px;
}
h1{
  text-align: center ;
  color: black;
  font-family: Lobster;
}
p{
  text-align: center;
  color: black;
  font-family: Poppins;
}
button{
  padding: 20px;
  margin: 100px;
  display:inline-block ;
  font-size: 16px;
  font-family:Poppins ;
  cursor: pointer;
  color: black;
}
body{
  background-position: center;
  font-family: Poppins;


}
.container{
  width: 360px;
  padding:100px;
  margin-left: 360px;
}
h4{
  color: black;
  font-family: Poppins;
  margin-left: 1200px;
  border: black 1px;
}