@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif&family=Poppins:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif&family=Pacifico&family=Poppins:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif&family=Pacifico&family=Poppins:ital,wght@0,300;1,300;1,400&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  height: 65px;
  margin: 10px;
}
ul{
  border: transparent 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
ul a{
  text-decoration: none;
  font-family: poppins;
  color: black;
}
header{
  display:-webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;

  
}
.logo{
  cursor: pointer;
}
.nav-type li{
  display: inline-block;
  padding:0px 15px;
  flex-direction: row-reverse;
  font-family:cursive;
  color: white;
  
}
.nav-type {
  list-style: none;
}

.nav-type a li{
  transition: .3s;
  color: white;
}
h1{
  text-align: center ;
  color: black;
  font-family: Lobster;
}
p{
  text-align: center;
  color: black;
  font-family: Poppins;
}
button .button{
  padding: 20px;
  margin: 100px;
  display:inline-block ;
  font-size: 16px;
  font-family:Poppins ;
  cursor: pointer;
  color: black;
  width: 200px;
}
body{
  font-family: Poppins;


}
.container{
  width: 360px;
  padding:100px;
  margin-left: 360px;
}
 .submit{
  width: 300px;
  display: flex;
}
button .a{
  color: black;
}
.form{
  background-color: white;
  position: relative;
  text-align: center;
  padding: 50px;
  width: 380px;
}
.con{
  font-family: Poppins;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
  background-color: white;
}
.content{
  font-family: Poppins;
  font-size: 20px;
  
}

